.section2{
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 10% 0%;
}

.section2::after{
    content: "";
    position: absolute;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-color: rgb(255, 187, 0);
    margin: 0%;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.reveal{
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.about{
    margin-top: 4%;
    margin-bottom: 6%;  
    position: relative;
    text-align: center;
    position: relative;
}

.about h1{
    font-size: 100px;
}

.about p{
    font-size: 20px;
    color: rgb(90, 90, 90);
    font-weight: 600;
    line-height: 200%;
}

.link-lotus{
    text-decoration: none;
    color: rgb(43, 146, 138);
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5%;
    border: 2px solid rgb(43, 146, 138);
    transition: .5s;
}

.link-lotus:hover{
    background-color: rgb(43, 146, 138);
    color: white;
    padding: 1%;
}

@media (max-width:995px){
    .section2{
        height: fit-content;
    }

    .about{
        padding: 15% 10%;
    }

    .about h1{
        font-size: 80px;
    }

    .about p{
        text-align: start;
        font-size:24px;
    }

}

@media (max-width:575px){
     .section2{
        height: fit-content;
    }
    
    .about{
        padding: 10% 10%;
    }

    .about h1{
        font-size: 60px;
    }

    .about p{
        text-align: start;
        font-size:16px;
    }
}